WcfServiceTask1/ConsoleApp3/Connected Services/TempSvc/TempCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TempCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9003/TempCFService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9003/TempCFService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITempCFService_CelciusToFarenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:CelciusToFarenheit" />
  </wsdl:message>
  <wsdl:message name="ITempCFService_CelciusToFarenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelciusToFarenheitResponse" />
  </wsdl:message>
  <wsdl:message name="ITempCFService_FarenheitToCelcius_InputMessage">
    <wsdl:part name="parameters" element="tns:FarenheitToCelcius" />
  </wsdl:message>
  <wsdl:message name="ITempCFService_FarenheitToCelcius_OutputMessage">
    <wsdl:part name="parameters" element="tns:FarenheitToCelciusResponse" />
  </wsdl:message>
  <wsdl:portType name="ITempCFService">
    <wsdl:operation name="CelciusToFarenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempCFService/CelciusToFarenheit" message="tns:ITempCFService_CelciusToFarenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempCFService/CelciusToFarenheitResponse" message="tns:ITempCFService_CelciusToFarenheit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FarenheitToCelcius">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempCFService/FarenheitToCelcius" message="tns:ITempCFService_FarenheitToCelcius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempCFService/FarenheitToCelciusResponse" message="tns:ITempCFService_FarenheitToCelcius_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITempCFService" type="tns:ITempCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelciusToFarenheit">
      <soap:operation soapAction="http://tempuri.org/ITempCFService/CelciusToFarenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarenheitToCelcius">
      <soap:operation soapAction="http://tempuri.org/ITempCFService/FarenheitToCelcius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TempCFService">
    <wsdl:port name="BasicHttpBinding_ITempCFService" binding="tns:BasicHttpBinding_ITempCFService">
      <soap:address location="http://localhost:9003/TempCFService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>