WebApp1/WebApp1/Connected Services/JobService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JobServiceTask" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JobServiceTask" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobTypes" nillable="true" type="tns:JobTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobTypes" nillable="true" type="tns:ArrayOfJobTypes" />
  <xs:complexType name="JobTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobTypes" nillable="true" type="tns:JobTypes" />
</xs:schema>