WcfServiceTask1/WebApp1/WebApp1/Connected Services/JobService/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9032/Job/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobServiceTask" />
  <xs:element name="OpeningJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobServiceTask" minOccurs="0" name="OpeningJobsResult" nillable="true" type="q1:ArrayOfJobTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningJobsByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningJobsByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobServiceTask" minOccurs="0" name="OpeningJobsByRoleResult" nillable="true" type="q2:ArrayOfJobTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>