WcfServiceTask1/WebApp1/WebApp1/Connected Services/EmpService/EmpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/EmpService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/EmpService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9001/EmpService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_RetreiveEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmpService_RetreiveEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_RetreiveEmployeeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveEmployeeByID" />
  </wsdl:message>
  <wsdl:message name="IEmpService_RetreiveEmployeeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetreiveEmployeeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpService">
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/AddEmployee" message="tns:IEmpService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/AddEmployeeResponse" message="tns:IEmpService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/RetreiveEmployees" message="tns:IEmpService_RetreiveEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/RetreiveEmployeesResponse" message="tns:IEmpService_RetreiveEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetreiveEmployeeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/RetreiveEmployeeByID" message="tns:IEmpService_RetreiveEmployeeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/RetreiveEmployeeByIDResponse" message="tns:IEmpService_RetreiveEmployeeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/UpdateEmployee" message="tns:IEmpService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/UpdateEmployeeResponse" message="tns:IEmpService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/DeleteEmployee" message="tns:IEmpService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/DeleteEmployeeResponse" message="tns:IEmpService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpService" type="tns:IEmpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmpService/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmpService/RetreiveEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetreiveEmployeeByID">
      <soap:operation soapAction="http://tempuri.org/IEmpService/RetreiveEmployeeByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmpService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmpService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpService">
    <wsdl:port name="BasicHttpBinding_IEmpService" binding="tns:BasicHttpBinding_IEmpService">
      <soap:address location="http://localhost:9001/EmpService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>